<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Website Clone</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand text-success" href="#" style="margin-right: 100px">GreenIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-muted" href="#" style="margin-right: 20px; text-decoration: underline">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right text-primary" href="others/login.html">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right text-primary" href="others/signup.html">Sign Up</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <i class="fas fa-search"></i> Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row" style="margin-top: 150px">
    <div class="col-8">

      <div class="card" style="padding: 10px">
        <div class="card-header h4">Card title</div>
        <img class="image" src="./images/imgg.jpg" alt="Card image cap">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <span class="inline"><a href="#"><i class="fa fa-thumbs-up"></i></a> <span class="lead">--|||--</span> <a href="#"><i class="fa fa-thumbs-down"></i></a></span>      </div>

      <div class="card" style="margin-top: 20px; padding: 10px">
        <div class="card-header h4">Card title</div>
        <img class="image" src="./images/imgg.jpg" alt="Card image cap">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <span class="inline"><a href="#"><i class="fa fa-thumbs-up"></i></a> <span class="lead">--|||--</span> <a href="#"><i class="fa fa-thumbs-down"></i></a></span>      </div>

      <div class="card" style="margin-top: 20px; padding: 10px">
        <div class="card-header h4">Card title</div>
        <img class="image" src="./images/imgg.jpg" alt="Card image cap">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <span class="inline"><a href="#"><i class="fa fa-thumbs-up"></i></a> <span class="lead">--|||--</span> <a href="#"><i class="fa fa-thumbs-down"></i></a></span>      </div>

      <div class="card" style="margin-top: 20px; padding: 10px">
        <div class="card-header h4">Card title</div>
        <img class="image" src="./images/imgg.jpg" alt="Card image cap">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <span class="inline"><a href="#"><i class="fa fa-thumbs-up"></i></a> <span class="lead">--|||--</span> <a href="#"><i class="fa fa-thumbs-down"></i></a></span>
      </div>

    </div> <!-- col-8-div -->

    <div class="col-4">

      <div class="card">
        <div class="card-header h4">Ads</div>
          <div class="card-body">
          <img class="image" src="./images/imggs.jpg" alt="Card image cap">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <span class="inline"><a href="#"><i class="fa fa-thumbs-up"></i></a> <span class="lead">--|||--</span> <a href="#"><i class="fa fa-thumbs-down"></i></a></span>        </div>
      </div>

      <div class="card" style="margin-top: 20px">
        <div class="card-header h4">Ads</div>
          <div class="card-body">
          <img class="image " src="./images/imggs.jpg" alt="Card image cap">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <span class="inline"><a href="#"><i class="fa fa-thumbs-up"></i></a> <span class="lead">--|||--</span> <a href="#"><i class="fa fa-thumbs-down"></i></a></span>        </div>
      </div>

    </div>
  </div>
</div>

</body>
<script src="./js/jQuery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>

</html>